<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!--<add name="Connection" connectionString="Server=kraka.ucn.dk;Initial Catalog=UCN_dmaa0216_2Sem_2; User ID=UCN_dmaa0216_2Sem_2; Password=Password1!; MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection" connectionString="Server=(localdb);Integrated Security=true;Initial Catalog=Bikenbike;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection" connectionString="Data Source=localhost\MSSQLEXPRESS2014;Initial Catalog=Bikenbike;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Connection" connectionString="Data Source=localhost;Initial Catalog=Bikenbike;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBikeService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceLayer/BikeService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBikeService" contract="testServiceRef.IBikeService" name="WSHttpBinding_IBikeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>